<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>ZaoDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ZaoDark</string>
				</array>
			</dict>
			<key>ZaoRed</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ZaoRed</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>open</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>guozaoke</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<string>YES</string>
		<key>NSExceptionDomains</key>
		<dict>
			<key>s21.ax1x.com</key>
			<string></string>
		</dict>
	</dict>
	<key>UIAccessibility</key>
	<string>Privacy</string>
	<key>CFBundleDisplayName</key>
	<string>过早客</string>
	<key>CFBundleName</key>
	<string>过早客</string>
	<key>CFBundleKeywords</key>
	<array>
		<string>guozaoke</string>
		<string>guo</string>
		<string>过早客</string>
		<string>光谷</string>
		<string>guanggu</string>
		<string>武汉</string>
		<string>wuhan</string>
	</array>
</dict>
</plist>
